*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
margin: 0px;
padding: 0px;
font-family: 'Roboto', sans-serif;
}

.navbar {
height: 12%;
display: flex;
align-items: center;
padding: 2%;
}

.logo {
width: 80px;
cursor: pointer;
border-radius: 50%;
}

    .logo {
width: 65px;
cursor: pointer;
}

.Home {
width: 30px;
cursor: pointer;
}
.Emergency {
width: 30px;
cursor: pointer;
margin-left: 40px;
}
.community {
width: 30px;
cursor: pointer;

margin-left: 40px;
}
.other {
width: 30px;
cursor: pointer;
margin-right: 40px;
margin-left: 40px;
}
nav {
flex:1;
text-align: right;

}
nav ul li {
list-style: none;
display: inline-block;

margin-right: 40px;
}
nav ul li a {
text-decoration: none;
color: rgb(0, 2, 4);
font-size: 16px;
}

:root {
    --starbucks-light: #006241;
    --starbucks-dark: #004225;
}

/* Custem style sheet
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--starbucks-light);
}

.logo {
    width: 100px;
    border-radius: 50%;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* Main content styles */

/* poster css */
.hero {
    background-color:beige;
    margin-bottom: 50px;
    padding: 50px 60px;
    transition: padding .2s ease;
    border-radius: 25px;
    margin: 0 20px 20px 0;
    
}

.hero h1 {
    font-size:5em;
    line-height: 1.15em;
    margin: 0 0 .25em;
}

.hero p {
        margin: 0 0 1.5em;
        padding: 0;
    }

.bold,strong {
    font-weight: 700
}



/* end poster code */


main {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 40px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 20px;

    
}

.coffee-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15%;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--starbucks-dark);
}

span {
    color: var(--starbucks-light);
}

p {
    font-size: 18px;
    font-weight: 300;
    color: var(--starbucks-dark);
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--starbucks-light);
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.btn:hover {
    background-color: #057b34;
}

/* Footer styles */
footer {
    background-color: var(--starbucks-dark);
    color: white;
}

.footer-links {
    list-style: none;
    display: flex;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.social-icons {
    list-style: none;
    display: flex;
}

.social-icons li {
    margin: 0 5px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.copy-right {
    font-size: 14px;
    font-weight: 300;
    background-color: aliceblue;
}

/* Media queries */
@media (max-width: 768px) {
    .nav-menu {
    display: none;
    }

    .row {
    flex-direction: column;
    }
}

.more-options{
padding: 20px;

}
.content {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        padding: 20px;
    }

    .card {
        width: 20%;
        margin: 10px;
        padding: 10px;
        box-shadow: 0 0 5px rgb(1, 86, 1);
    
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 25%;
    }

    .card h3 {
        color: #000000;
        margin: 10px 0;
    }

    .card p {
        color: #666666;
        font-size: 14px;
    }

    .card a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #006241;
        padding: 10px;
        margin: 10px 0;
        
        
        
        
    }

    
    .card a:hover {
        background-color: #057b34;
    }

/* footer */
    .pg-footer {
font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
color: #fff;
text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}


.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
    width: 25px;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
}
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
}
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
}
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-wave-svg {
    height: 50px;
}

.footer-content-column {
    width: 24.99%;
}
}
@media (min-width: 568px) {
/* .footer-content-column {
    width: 49.99%;
} */
}

.footer-logo{
width: 100px;
cursor: pointer;
border-radius: 50%;
}

    a {
color: #fff;
text-decoration: none;
}





